Repository together2329/pcie_debug_agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-unit, check-requirements, validate-config

pytest-unit:
  name: pytest unit tests
  entry: pytest tests/unit -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - push

check-requirements:
  name: check requirements
  entry: python -c "import sys; sys.exit(0)"
  language: system

validate-config:
  name: validate configuration
  entry: python -m src.config.settings
  language: system
  pass_filenames: false

feat: Implement local embeddings with sentence-transformers for API-free operation
  configs/settings.yaml
  pytest.ini
  requirements-dev.txt
  src/cli/commands/analyze.py
  src/models/model_manager.py
  src/rag/enhanced_rag_engine.py
  src/rag/vector_store.py
  tests/conftest.py
  tests/unit/test_enhanced_rag_engine.py
Due: pytest-unit, check-requirements, validate-config

fix: Update CLI commands and UI for local embeddings compatibility
  src/cli/commands/config.py
  src/cli/commands/index.py
  src/cli/commands/report.py
  src/cli/commands/search.py
  src/cli/commands/test.py
  src/cli/main.py
  src/main.py
  src/ui/app.py
  src/ui/app_refactored.py
Due: pytest-unit

chore: Add unused files to .gitignore
  .gitignore
Due: none

feat: Implement complete local LLM integration with Llama 3.2 3B Instruct
  configs/settings.yaml
  demo_llm_functionality.py
  requirements.txt
  show_llm_working.py
  src/config/settings.py
  src/models/local_llm_provider.py
  src/models/model_manager.py
  src/models/pcie_prompts.py
  src/rag/enhanced_rag_engine.py
Due: pytest-unit, check-requirements, validate-config

chore: Add models directory to .gitignore and fix memory threshold
  .gitignore
  src/models/local_llm_provider.py
Due: pytest-unit

feat: Add open source PCIe UVM simulator integration with Icarus Verilog
  chat_demo.py
  src/simulators/Makefile
  src/simulators/README.md
  src/simulators/SIMULATION_RESULTS.md
  src/simulators/rag_integration.py
  src/simulators/requirements.txt
  src/simulators/rtl/pcie_lite.v
  src/simulators/run_pcie_error_demo.py
  src/simulators/setup_simulator.sh
  src/simulators/simple_sim_test.py
  src/simulators/standalone_demo.py
  src/simulators/testbench/pcie_base_test.py
  src/simulators/testbench/pcie_sequences.py
Due: pytest-unit, check-requirements

feat: Add comprehensive VCD waveform analysis with AI integration
  RUN_SIMULATION_GUIDE.md
  run_pcie_sim.sh
  src/simulators/COMPARISON_TABLES.md
  src/simulators/EXECUTIVE_SUMMARY_TABLE.md
  src/simulators/GTKWAVE_MACOS_FIX.md
  src/simulators/HOW_TO_RUN.md
  src/simulators/Makefile
  src/simulators/QUICK_COMMANDS.md
  src/simulators/TESTING_RESULTS_SUMMARY.md
  src/simulators/VCD_ANALYSIS_PLAN.md
  src/simulators/WAVEFORM_ANALYSIS.md
  src/simulators/accuracy_test.py
  src/simulators/accuracy_test_results_20250531_112404.json
  src/simulators/comprehensive_vcd_analysis_20250531_111935.txt
  src/simulators/fix_gtkwave_perl.sh
  src/simulators/functional_test.py
  src/simulators/functional_test_report.txt
  src/simulators/generate_vcd.sh
  src/simulators/pcie_error_analysis_20250531_111818.txt
  src/simulators/pcie_simulation_report_20250531_105029.txt
  src/simulators/pcie_waveform.vcd
  src/simulators/quick_start.sh
  src/simulators/rtl/pcie_lite.v
  src/simulators/simple_tb.v
  src/simulators/vcd_analysis_demo.py
  src/simulators/vcd_analysis_report.txt
  src/simulators/vcd_error_analyzer.py
  src/simulators/vcd_rag_analyzer.py
  src/simulators/vcd_rag_integration.py
  src/simulators/vcd_viewer.py
Due: pytest-unit

feat: Implement hybrid LLM provider for PCIe error analysis
  .gitignore
  HYBRID_LLM_TEST_RESULTS.md
  error_analysis_comparison.py
  error_analysis_performance_report.py
  hybrid_llm_test_results_20250531_164705.json
  pcie_simulation_report_20250531_104205.txt
  quick_error_analysis_test.py
  quick_test_results.py
  simple_comparison_test.py
  src/models/hybrid_llm_provider.py
  src/simulators/AI_ENHANCEMENT_SUMMARY.md
  src/simulators/ULTIMATE_AI_SUMMARY.md
  src/simulators/UPDATED_COMPARISON_TABLES.md
  src/simulators/enhanced_accuracy_comparison_20250531_114440.json
  src/simulators/enhanced_accuracy_test.py
  src/simulators/enhanced_ai_analyzer.py
  src/simulators/final_comprehensive_accuracy_test.py
  src/simulators/final_comprehensive_accuracy_test_20250531_115913.json
  src/simulators/model_comparison_test.py
  src/simulators/setup_and_test.sh
  src/simulators/super_enhanced_ai_analyzer.py
  src/simulators/ultimate_accuracy_test.py
  src/simulators/ultimate_ai_analyzer.py
  test_hybrid_llm.py
Due: pytest-unit

feat: Complete hybrid LLM integration into PCIe debugging workflow
  .gitignore
  HYBRID_QUICK_START.md
  finalize_hybrid_integration.py
  pcie-debug-hybrid
  run_hybrid_ui.sh
  src/cli/commands/analyze_hybrid.py
  src/cli/main_hybrid.py
  src/models/model_manager.py
  src/rag/enhanced_rag_engine_hybrid.py
  src/ui/app_hybrid.py
  update_model_manager_hybrid.py
Due: pytest-unit

feat: Major CLI enhancements with model management and verbose analysis
  LOCAL_MODEL_SETUP.md
  SLASH_COMMANDS_DEMO.md
  pcie-debug
  src/cli/commands/model.py
  src/cli/interactive.py
  src/models/hybrid_llm_with_rag.py
  src/models/local_llm_provider.py
  src/models/mock_llm_provider.py
  src/models/model_selector.py
  src/models/ollama_provider.py
  src/models/openai_provider.py
  src/rag/enhanced_rag_engine.py
Due: pytest-unit

feat: Set GPT-4o-mini as default model with token limit optimization
  configs/settings.yaml
  src/cli/commands/model.py
  src/cli/interactive.py
  src/models/model_selector.py
  src/models/openai_provider.py
Due: pytest-unit, validate-config

feat: Implement optional vector database loading for faster startup
  src/cli/commands/vectordb.py
  src/cli/interactive.py
  src/cli/main.py
  src/cli/main_enhanced.py
  src/cli/memory.py
  src/cli/session_manager.py
  src/config/settings.py
  src/processors/document_chunker.py
  src/processors/knowledge_base_indexer.py
  src/rag/context_compressor.py
  src/rag/enhanced_rag_engine_v2.py
  src/rag/vector_store.py
  src/vectorstore/faiss_store.py
Due: pytest-unit

feat: Enhance verbose mode with detailed RAG pipeline information
  src/cli/interactive.py
Due: pytest-unit

feat: Add comprehensive token counting and usage tracking
  requirements.txt
  src/cli/interactive.py
  src/cli/utils/token_counter.py
Due: pytest-unit, check-requirements

feat: Add OpenAI embedding models and RAG model selection
  src/cli/commands/vectordb.py
  src/cli/interactive.py
  src/models/embedding_selector.py
Due: pytest-unit

feat: Set OpenAI text-embedding-3-small as default embedding model
  src/cli/interactive.py
  src/models/embedding_selector.py
Due: pytest-unit

fix: Resolve embedding dimension mismatch causing vector store errors
  chat_demo.py
  src/cli/commands/vectordb.py
  src/cli/interactive.py
Due: pytest-unit

feat: Add comprehensive knowledge base status command
  src/cli/interactive.py
Due: pytest-unit

feat: Implement multi-model vector database system for instant switching
  rag_performance_comparison.py
  src/cli/commands/vectordb.py
  src/cli/interactive.py
  src/vectorstore/multi_model_manager.py
Due: pytest-unit

feat: Add streaming support to model providers
  src/models/model_selector.py
Due: pytest-unit

feat: Add real-time streaming and file path display to interactive shell
  src/cli/interactive.py
Due: pytest-unit

docs: Add comprehensive Incremental RAG documentation
  docs/INCREMENTAL_RAG_GUIDE.md
  docs/INCREMENTAL_RAG_QUICKSTART.md
  docs/README.md
  docs/incremental_rag/README.md
  docs/incremental_rag/implementation_example.py
Due: pytest-unit

feat: Implement hybrid search combining BM25 and semantic search
  docs/RAG_ENHANCEMENT_PLAN.md
  examples/hybrid_search_demo.py
  src/cli/commands/hybrid.py
  src/rag/enhanced_rag_engine_v2.py
  src/rag/hybrid_search.py
Due: pytest-unit

feat: Add /rag_mode command for selecting search modes (semantic/hybrid/keyword)
  requirements.txt
  src/cli/interactive.py
Due: pytest-unit, check-requirements

feat: Add Claude Code-style command features (/cost, /doctor, command suggestions)
  src/cli/interactive.py
Due: pytest-unit

fix: Resolve hybrid search engine initialization error in /rag_mode command
  src/cli/interactive.py
Due: pytest-unit

feat: Implement full tab auto-completion for slash commands (like Claude Code)
  src/cli/interactive.py
Due: pytest-unit

fix: Resolve hybrid search mode error in RAG result conversion
  src/cli/interactive.py
Due: pytest-unit

fix: Resolve RAG document retrieval issue by lowering similarity threshold
  src/rag/enhanced_rag_engine.py
Due: pytest-unit

fix: Suppress empty error messages in vector store search output
  src/cli/interactive.py
  src/vectorstore/faiss_store.py
Due: pytest-unit

feat: Add /rag_files and /rag_check commands for RAG database inspection
  src/cli/interactive.py
Due: pytest-unit

docs: Update CLAUDE.md with comprehensive project documentation
  CLAUDE.md
Due: none

feat: Implement Unified RAG with OpenAI embeddings support
  CLI_FIXES_APPLIED.md
  OPENAI_EMBEDDINGS_STATUS.md
  OPENAI_SETUP_GUIDE.md
  configs/settings.yaml
  process_all_pdfs_openai.py
  quick_openai_setup.py
  setup_unified_rag_flexible.py
  src/cli/interactive.py
  src/rag/unified_rag_engine.py
  src/vectorstore/faiss_store.py
Due: pytest-unit, validate-config

perf: Cache embedding models to avoid reloading on every query
  src/cli/interactive.py
  src/models/embedding_selector.py
Due: pytest-unit

chore: Update .gitignore to exclude development and test files
  .gitignore
  src/cli/commands/metadata_search.py
  src/rag/metadata_enhanced_rag.py
  src/rag/metadata_extractor.py
Due: pytest-unit

feat: Add RAG source API and comprehensive test documentation
  rag_source_api.py
  tests/README.md
Due: pytest-unit

feat: Integrate Unified RAG as fourth standard RAG mode
  src/cli/interactive.py
Due: pytest-unit

fix: Resolve unified search mode errors and integrate PDF knowledge base
  src/cli/interactive.py
  src/rag/analyzer.py
  src/rag/enhanced_rag_engine.py
  src/rag/unified_rag_engine.py
Due: pytest-unit

feat: Implement unified RAG system with auto-testing and quality monitoring
  CLAUDE.md
  automated_rag_test_suite.py
  deploy_unified_rag.py
  production_rag_fix.py
  src/rag/analyzer.py
  src/rag/pcie_knowledge_classifier.py
  unified_rag_integration.py
Due: pytest-unit

feat: Implement self-evolving context-based RAG system with Optuna optimization
  CLAUDE.md
  auto_rag_system.py
  deploy_enhanced_rag.py
  enhanced_context_rag.py
  eval_queries.json
  requirements_auto_rag.txt
Due: pytest-unit, check-requirements

Path conditions:
  pytest-unit: any of: \.py$
  check-requirements: any of: requirements.*\.txt$
  validate-config: any of: configs/.*\.yaml$
